In [155]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
from matplotlib import style
from sklearn import linear_model
from sklearn.utils import shuffle
import pickle

In [156]:
data = pd.read_csv('student-mat.csv',sep=';')
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [157]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [158]:
data = data[["G1","G2","G3","studytime","failures","absences"]]
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [159]:
predict = 'G3'

In [160]:
X = np.array(data.drop(predict, axis=1))
y = np.array(data[predict])

In [161]:
X_train,X_test,y_train,y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.1)

In [162]:
'''linear = linear_model.LinearRegression()
linear.fit(X_train,y_train)
acc = linear.score(X_test,y_test)
print(acc)'''

'linear = linear_model.LinearRegression()\nlinear.fit(X_train,y_train)\nacc = linear.score(X_test,y_test)\nprint(acc)'

In [163]:
'''with open('studentmodel.pickle','wb') as f:
    pickle.dump(linear,f)'''

"with open('studentmodel.pickle','wb') as f:\n    pickle.dump(linear,f)"

In [164]:
pickle_in = open('studentmodel.pickle','rb')
linear = pickle.load(pickle_in)

In [165]:
print('Co: ' , linear.coef_)
print('Intercept: ' , linear.intercept_)

Co:  [ 0.18334472  0.951715   -0.22956337 -0.37733356  0.04592693]
Intercept:  -1.4584016533908724

In [166]:
predictions = linear.predict(X_test)

for x in range (len(predictions)):
    print(predictions[x], X_test[x],y_test[x])

11.932531127763237 [13 12  3  0  6] 12
10.934817902718512 [13 11  2  0  0] 10
14.294724840480423 [14 14  1  0  2] 14
11.142872913584592 [10 12  2  1  4] 12
13.481224951410635 [13 13  2  0 14] 14
7.931319602789792 [7 9 2 0 0] 8
16.426771754455373 [17 16  2  0  0] 16
11.925873704007964 [10  9  2  0 75] 9
12.4372217812273 [14 12  1  0  3] 12
9.43350306173776 [ 9 10  3  0  9] 9
4.49216679609423 [6 5 1 0 7] 6
15.200221187757268 [15 15  2  0  2] 16
13.159444706970687 [14 13  3  0  8] 14
16.472990403119724 [16 16  1  0  0] 15
15.062148673834386 [16 15  3  0  0] 15
13.789962890542096 [13 14  2  0  0] 15
10.6599823319616 [11 11  2  0  2] 11
10.568128466703069 [11 11  2  0  0] 10
10.018094312679903 [ 8 11  2  0  0] 11
19.46802265255094 [18 18  1  1 24] 18
11.072669997080576 [13 11  3  0  8] 11
7.472192869445649 [7 9 4 0 0] 0
13.973307608549819 [14 14  2  0  0] 14
9.653874352893638 [ 7 10  2  1 25] 11
8.34364425539942 [10  9  3  0  2] 9
20.154094153251418 [18 19  1  0 10] 19
14.294724840480423 [14 14  1  0  2] 13
11.886312479098889 [14 12  4  0  6] 13
6.6286534928741645 [ 6  8  1  3 16] 8
7.805563369156708 [ 9  8  2  0 10] 8
7.8658481851258415 [ 6  9  1  2 14] 8
10.751836197220134 [11 11  2  0  4] 11
-0.634115360680959 [7 0 2 0 0] 0
12.930101759859435 [13 13  2  0  2] 13
12.070966654195464 [11 12  2  0 12] 11
8.232245905106204 [ 9  9  2  2 15] 9
8.665061487330025 [10  9  2  0  4] 9
9.020160668074361 [ 9 10  3  0  0] 0
14.833531751741823 [13 15  2  0  2] 16
8.206518186056046 [8 9 2 0 2] 10